<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warmnut.dao.DictMapper">
	<resultMap id="BaseResultMap" type="com.warmnut.bean.Dict">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="pid" jdbcType="INTEGER" property="pid" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="is_delete" jdbcType="BIT" property="isDelete" />
		<result column="is_update" jdbcType="BIT" property="isUpdate" />
		<result column="create_time" jdbcType="TIMESTAMP"
			property="createTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, pid, code, name, is_delete, is_update, create_time
	</sql>
	<select id="selectById" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from dict
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="findAll" resultMap="BaseResultMap"
		parameterType="com.warmnut.util.PageRequest">
		select
		<include refid="Base_Column_List" />
		from dict
		where 1 = 1
		<if test="keyword != null and keyword != ''">
			AND CONCAT(name, code) LIKE CONCAT('%',#{keyword},'%')
		</if>
	</select>

	<select id="selectByCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from dict
		where code = #{code}
	</select>


	<select id="selectByParentCode" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
		*
		FROM
		(
		SELECT
		t1.*,
		IF
		( find_in_set( pid, @pids ) > 0, @pids := concat(
		@pids, ',', id ), 0) AS ischild
		FROM
		( SELECT * FROM dict t ORDER BY
		t.id ASC )
		t1,
		( SELECT @pids :=
		(select id from dict where code =
		#{code}) ) t2
		) t3
		WHERE
		ischild != 0
	</select>

	<select id="pageInfo" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from dict
		order by #{sort} #{order}
	</select>

	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from dict
		where id =
		#{id,jdbcType=INTEGER}
	</delete>
	<insert id="insertSelective"
		parameterType="com.warmnut.bean.Dict">
		insert into dict
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="pid != null">
				pid,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
			<if test="isUpdate != null">
				is_update,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="pid != null">
				#{pid,jdbcType=INTEGER},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=BIT},
			</if>
			<if test="isUpdate != null">
				#{isUpdate,jdbcType=BIT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.warmnut.bean.Dict">
		update dict
		<set>
			<if test="pid != null">
				pid = #{pid,jdbcType=INTEGER},
			</if>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="isDelete != null">
				is_delete = #{isDelete,jdbcType=BIT},
			</if>
			<if test="isUpdate != null">
				is_update = #{isUpdate,jdbcType=BIT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>