<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warmnut.dao.PermissionMapper">
	<resultMap id="BaseResultMap"
		type="com.warmnut.bean.Permission">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="pid" jdbcType="INTEGER" property="pid" />
		<result column="path" jdbcType="VARCHAR" property="path" />
		<result column="component" jdbcType="VARCHAR"
			property="component" />
		<result column="redirect" jdbcType="VARCHAR"
			property="redirect" />
		<result column="alwaysShow" jdbcType="BIT"
			property="alwaysshow" />
		<result column="clickAble" jdbcType="BIT" property="clickable" />
		<result column="hidden" jdbcType="BIT" property="hidden" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="noCache" jdbcType="BIT" property="nocache" />
		<result column="icon" jdbcType="VARCHAR" property="icon" />
		<result column="type" jdbcType="VARCHAR" property="type" />
		<result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
		<result column="method" jdbcType="VARCHAR" property="method" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, pid, path, component, redirect, alwaysShow, clickAble,
		hidden,name,
		title, noCache,
		icon, create_time,sort_order,type,method
	</sql>
	<select id="selectById" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from permission
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByPath" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from permission
		where path = #{path,jdbcType=VARCHAR}
	</select>
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from permission
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insertSelective"
		parameterType="com.warmnut.bean.Permission"
		useGeneratedKeys="true" 
		keyProperty="id">
		insert into permission
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="pid != null">
				pid,
			</if>
			<if test="hidden != null">
				hidden,
			</if>
			<if test="path != null">
				path,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="sortOrder != null">
				sort_order,
			</if>
			<if test="method != null">
				method,
			</if>
			<if test="component != null">
				component,
			</if>
			<if test="redirect != null">
				redirect,
			</if>
			<if test="alwaysshow != null">
				alwaysShow,
			</if>
			<if test="clickable != null">
				clickAble,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="nocache != null">
				noCache,
			</if>
			<if test="icon != null">
				icon,
			</if>
			<!-- 
			<if test="createTime != null">
				create_time,
			</if>
			 -->
			 create_time,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="pid != null">
				#{pid,jdbcType=INTEGER},
			</if>
			<if test="hidden != null">
				#{hidden,jdbcType=INTEGER},
			</if>
			<if test="path != null">
				#{path,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="sortOrder != null">
				#{sortOrder,jdbcType=INTEGER},
			</if>
			<if test="method != null">
				#{method,jdbcType=VARCHAR},
			</if>
			<if test="component != null">
				#{component,jdbcType=VARCHAR},
			</if>
			<if test="redirect != null">
				#{redirect,jdbcType=VARCHAR},
			</if>
			<if test="alwaysshow != null">
				#{alwaysshow,jdbcType=BIT},
			</if>
			<if test="clickable != null">
				#{clickable,jdbcType=BIT},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="nocache != null">
				#{nocache,jdbcType=BIT},
			</if>
			<if test="icon != null">
				#{icon,jdbcType=VARCHAR},
			</if>
			<!-- 
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			 -->
			CURRENT_TIMESTAMP,
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.warmnut.bean.Permission">
		update permission
		<set>
			<if test="pid != null">
				pid = #{pid,jdbcType=INTEGER},
			</if>
			<if test="hidden != null">
				hidden = #{hidden,jdbcType=INTEGER},
			</if>
			<if test="path != null">
				path = #{path,jdbcType=VARCHAR},
			</if>
			<if test="sortOrder != null">
				sort_order = #{sortOrder,jdbcType=INTEGER},
			</if>
			<if test="component != null">
				component = #{component,jdbcType=VARCHAR},
			</if>
			<if test="redirect != null">
				redirect = #{redirect,jdbcType=VARCHAR},
			</if>
			<if test="alwaysshow != null">
				alwaysShow = #{alwaysshow,jdbcType=BIT},
			</if>
			<if test="clickable != null">
				clickAble = #{clickable,jdbcType=BIT},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="nocache != null">
				noCache = #{nocache,jdbcType=BIT},
			</if>
			<if test="icon != null">
				icon = #{icon,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="findAll" resultMap="BaseResultMap" parameterType="com.warmnut.util.PageRequest">
		select
		<include refid="Base_Column_List" />
		from permission
		where 1 = 1
		<if test="keyword != null and keyword != ''">
			AND CONCAT(path, type,title) LIKE CONCAT('%',#{keyword},'%')
		</if>
		ORDER BY sort_order
	</select>

	<select id="findByRoleId" resultMap="BaseResultMap">
		select * from permission sp
		JOIN role_permission srp on sp.id = srp.permission_id AND srp.role_id
		= #{roleId}
		ORDER BY sp.sort_order
	</select>
	
	<select id="selectLast" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from permission
		order by id desc
        limit 1
	</select>
</mapper>